.column_div{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--nav_bar_text_color);
}



.column{
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    /* margin-top: 50px; */
    /* padding: 20px; */
    text-align: left;
    column-gap: 10px;
}

.column:nth-child(1){
    /* background-color: var(--background_text); */
    margin:auto;
}

.column:nth-child(2){
    line-height: 30px;
    margin: auto;
    padding: 20px;
    /* background-color: red; */

}

.content p{
    margin: 10px 0;
}

.content h2{
    font-size: 35px;
}


.profile_image{
    display: flex;
    margin: auto;
    width: 50vw;
    height: 50vw;
    max-width: 500px;
    max-height: 500px;
    animation: fade;
    animation-duration: 2.5s;
}


@keyframes fade{
 0%{opacity: 0;}
 100%{opacity: 100%;}
}