
.contact i{
    width: 30px;
    height: 30px;
    font-size: 25px;
}
.art {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    /* background-color: red; */
    column-gap: 20px;
    align-items: center;
    text-align: center;
    place-content: center;
}

.art p{
    margin-top: -10px;
    text-align: left;
}

img{
    object-fit: cover;
    margin: 20px 0;
    
}

img:hover{
    cursor: pointer;

}



.art_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .art_modal_content {
    background-color: #fefefe;
    /* margin: 15% auto; 15% from the top and centered */
    margin: auto;
    /* padding: 20px; */
    border: none;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: var(--text_header);
    position: absolute;
    /* float: left; */
    top: 50px;
    left: 350px;

    font-size: 36px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
  }

  


#info{
    display: block;
   
}
@media (width <= 700px){
    .art{
        display: block;
        margin: auto;
        padding: auto;
        align-items: center;
        text-align: center;
        column-gap: none;
    }

    .art p{
        margin-top: -10px;
        text-align: center;
        
    }    
}