:root {
  /* Base colours */
  --dark-blue: rgb(0, 28, 48);
  --medium-blue: rgb(23, 107, 135);
  --light-blue: hsl(176, 50%, 60%);
  --highlight-blue: rgb(218, 255, 251);

  --light-blue-trans: hsla(176, 50%, 60%, 30%);


  /* Font */
  font-family: 'Inter', sans-serif;
  text-align: center;
  display: block;
  background-color: white;
}

body{
  margin: -1em;
}

.banner{
  background: linear-gradient(var(--dark-blue), var(--medium-blue));
  color: white;
  margin: -1em;
  margin-bottom: 0;
  padding: 1vw 0;
  padding-bottom: 1vh;
  border-radius: 1em;
}

.banner p{
  padding-top: 1vh;
}

.name {
  font-size: 10vw;
}

.username{
  margin-top: -10%;
  font-size: 8vw;
}

.tab button{
  width: 20vw;
  height: 10vw;
  background-color: transparent;
  border-style: solid;
  border-color: transparent;
  cursor: pointer;
  font-size: 5vw;
  color: white;
}

.tab button.active{
  border-bottom-color: var(--light-blue);
  color: var(--highlight-blue);
}

.tab button:hover{
  border-bottom-color: var(--light-blue);
  color: var(--highlight-blue);
}

.title{
  font-size: 3vw;
}

.projects{
  justify-content: center;
  align-items: center;
}

.column a:link{
  color: black;
  text-decoration: none;
}

.column a:visited{
  color: black;
  text-decoration: none;
}

.card{
  height: 80vw;
  width: 60vw;
  background-color: red;
  border-color: var(--dark-blue);
  border-width: 5%;
  border-style: solid;
  border-radius: 1em;
  margin: 2em auto;
}

.card img{
  visibility: hidden;
}


.projects .title{
  margin-top: -1em;
}

.cardTitle{
  color: rgba(0, 0, 0, 0);
}

.results{
  background-image: url("../images/results_summary/preview.png");
  background-size: cover;
}

.wordle{
  background-image: url("../images/wordle_replica/preview.png");
  background-size: cover;
}

.fylo{
  background-image: url("../images/fylo/preview.png");
  background-size: cover;
}

.ageCalculator{
  background-image: url("../images/age_calculator/preview.PNG");
  background-size: cover;
}

.librarySystem{
  background-image: url("../images/library_system/preview.PNG");
  background-size: cover;
}





@media (width >= 700px){
  .banner{
    background: linear-gradient(var(--dark-blue), var(--medium-blue));
    color: white;
    margin: -1em;
    margin-bottom: 0;
   
    padding-bottom: 1em;
    border-radius: 1em;
  }

  .name {
    font-size: 3.5vw;
  }
  
  .username{
    margin-top: -3%;
    font-size: 1.5vw;
  }

  .tabcontent{
    max-width: 90%;
    margin: auto;
  }

  .tab button{
    margin: 0 1em;
    width: 10vw;
    height: 3vw;
    cursor: pointer;
    font-size: 1.5vw;
  }

  .projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }

  .container {
    position: relative;
    margin: 5vw 0;
    height: 25vw;
    width: 20vw;
    border-width: 5%;
    border-style: none;
  }


  .card {
    position: absolute;
    height: 25vw;
    width: 20vw;
    overflow: hidden;
    margin: 0;
    border:none;
    
  }

 
  .cardTitle{
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 2vw;
    height: 25vw;
    width: 20vw;
    opacity: 0;
  }

  .cardTitle p{
    margin: auto;
    margin-top: 50%;
   
  }

  .container:hover .card{
    filter: blur(6px);
    animation: blur 0.25s;
    border-color: var(--light-blue);  
  }

  .container:hover .cardTitle{
    opacity: 1;
    animation: appear 0.5s;
    color: white;
    background-color: rgba(47, 225, 244, 0.3);
    border-radius: 1em;
    box-shadow: 0px 0px 16px 0px  rgba(47, 225, 244, 0.3);
  
  }

  .projects .title{
    font-size: 1.25vw;
    visibility: hidden;
  }


  @keyframes appear{
    0%{
      opacity: 0;
    }
    50%{
     opacity: 0.3;
    }
    100%{
      opacity: 1;
    }
  }


  @keyframes blur {
    0%{
      filter: blur(0px);
     
    }
    50%{
      filter: blur(2px);
      color: rgba(0, 0, 0, 0.5);
     
    }
    100%{
      filter: blur(4px);
      color: rgba(0, 0, 0, 1);
    }
    
  }
}