:root {
  /* Base colours */
  --dark-blue: rgb(26, 68, 97);
  --medium-blue: rgb(23, 107, 135);
  --light-blue: hsl(176, 50%, 60%);
  --highlight-blue: rgb(218, 255, 251);

  --light-purple: hsl(254, 45%, 78%);
  --pale-blue: hsl(226, 34%, 75%);
  
  --light-purple-trans: hsla(254, 45%, 78%, 50%);
  --pale-blue-trans: hsla(226, 34%, 75%, 50%);
  --light-blue-trans: hsla(176, 50%, 60%, 30%);
  --medium-blue-trans: hsla(195, 71%, 31%, 50%);

  /* Font */
  /* font-family:'Courier New', Courier, monospace ; */
  /* font-weight: 500px; */
  text-align: center;
  display: inline-block;
  

  --primary: #EADBC8;
  --secondary: #DAC0A3;
  --tertiary: #584733;
  color: #251910;
  font-weight: 500;
  /* #d0daa3 */
 
}

body{
  max-width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  /* background: linear-gradient(var(--pale-blue-trans), var(--light-purple-trans)); */
}


.banner{
  background-color: var(--secondary);
  /* background: linear-gradient(var(--dark-blue), var(--medium-blue)); */
  color: white;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  
}


.icon_div{
  margin: auto;
  width: 30vw;
  height: 30vw;
  border-radius: 10em;
  background: linear-gradient(transparent, rgb(255, 250, 238));
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon{
  width: 20vw;
  height: 28vw;
}

.name {
  margin-top: 0;
  font-size: 8vw;
}

.username{
  margin-top: -2%;
  font-size: 6vw;
}

.tab button{
  width: 20vw;
  height: 10vw;
  font-weight: 800;
  background-color: transparent;
  border-style: solid;
  border-color: transparent;
  cursor: pointer;
  font-size: 4vw;
  color: var(--tertiary);
}

.tab button.active{
  width: 20vw;
  height: 10vw;
  border-bottom-color: var(--primary);
  color: white;
}


.tab button:hover{
  border-bottom-color: var(--primary);
  color:white;
}

.header{
  font-size: 5vw;
}

.title {
  font-size: 3.5vw;
}

.projects{
  justify-content: center;
  align-items: center;
}

.container a:link{
  color: black;
  text-decoration: none;
}

.container a:visited{
  color: black;
  text-decoration: none;
}

.card{
  height: 80vw;
  width: 60vw;
  border-color: transparent;
  /* border-color: var(--dark-blue); */
  border-width: 5%;
  border-style: solid;
  border-radius: 1em;
  margin: 2em auto;
}


.projects .title{
  margin-top: -1.5em;
}

.cardTitle{
  color: rgba(0, 0, 0, 0);
  display: none;
}

.results{
  background-image: url("../images/results_summary/preview.png");
  background-size: cover;
}

.social_media_dashboard{
  background-image: url("../images/social_media_dashboard/preview.png");
  background-size: cover;
}

.wordle{
  background-image: url("../images/wordle_replica/preview.png");
  background-size: cover;
}

.fylo{
  background-image: url("../images/fylo/preview.png");
  background-size: cover;
}

.ageCalculator{
  background-image: url("../images/age_calculator/preview.PNG");
  background-size: cover;
}

.librarySystem{
  background-image: url("../images/library_system/preview.PNG");
  background-size: cover;
}

.about{
  width: 80%;
  margin: auto;
}

.about_icon{
  width: 40vw;
  height: 67vw;
}

.about p{
  margin: 6vw 2vw;
  line-height: 4vh;
}
.school{
  margin-top: 5vh;
}

.school p{
  margin-top: -1.5vh;
}

.resume{
  width: 80%;
  margin: auto;
  /* display: flex; */
}

.resume_pdf{
  width:75vw; 
  height:100vw;
}


.footer{
  
  margin: 2vh 0;
  padding-bottom: 2vh;
}

.contacts img{
  width: 5vw;
  height: 5vw;
  margin-right: 1%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}



@media (width >= 700px){

  .banner{
    padding-top: 5%;
    background-color:var(--secondary);
    /* background: linear-gradient(var(--dark-blue), var(--medium-blue)); */
    color: white;
    width: auto;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    display: block;
   
  }

  .banner_info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .banner_info .column:nth-child(1){
    display: flex;
    margin-left: auto;
  }

  .icon_div{
    width: 15vw;
    height: 15vw;
    border-radius: 10em;
    background: linear-gradient(transparent, rgb(255, 250, 238));
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon{
    width: 10vw;
    height: 14vw;
  }


  .name {
    font-size: clamp(40px, 4vw + 1rem, 60px);
    margin: 0 auto;
    margin-top: 3vw;
  }
  
  .username{
    margin: 0;
    font-size: clamp(20px, 1vw + 1rem, 30px);
  }

  .tabcontent{
    max-width: 90%;
    margin: auto;
  }

  .header{
    font-size: clamp(20px, 3vw, 30px);
  }

  .tab{
    height: 10vh;
    margin-top: 1vw;
    padding-top: 1vw;
  }

  .tab button{
    margin: 0 1em;
    font-family:'Courier New', Courier, monospace;
    margin-bottom: 2em;
    width: 10vw;
    height: 3vw;
    cursor: pointer;
    font-size: clamp(20px, 2vw, 30px);
    padding-bottom: 1em;
    transition: width 0.75s,
                height 0.75s,
                font-size 0.75s,
                border 0.75s;
  }

  .tab button:hover{
    width: 15vw;
    height: 4vw;
    font-size: 2.25vw;
  }

  .tab button.active{
    width: 15vw;
    height: 4vw;
    font-size: 2.25vw;
  }

  .projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }

  .container {
    position: relative;
    margin: 5vw 0;
    height: 25vw;
    width: 20vw;
    border-width: 5%;
    border-style: none;
  }


  .card {
    position: absolute;
    height: 25vw;
    width: 20vw;
    overflow: hidden;
    margin: 0;
    border:none;
    transition: filter 0.75s,
                opacity 0.75s;
  }

 
  .cardTitle{
    display: block;
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 2vw;
    height: 25vw;
    width: 20vw;
    opacity: 0;
  }

  .summaryTitle{
    margin: auto;
    margin-top: 30%;
  }

  .container:hover .card{
    filter: blur(4px);
    animation: blur 0.25s;
    border-color: var(--light-blue);  
    opacity: 0.5;
  }

  .container:hover .cardTitle{
    opacity: 1;
    animation: appear 0.5s;
    color: black;
    border-radius: 1em;   
  }

  .summaryTitle.light{
    color: black;
  }

  .projects .title{
    font-size: 1.25vw;
    visibility: hidden;
  }

  .about{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: left;
    column-gap: 1em;
  
  }


  .about .column:nth-child(1){
    /* background-color: red; */
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
  }
  .about .column:nth-child(2){
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2em;
  
  }

  .about_icon{
    width: 25vw;
    height: 43vw;
  }


  .about p{
    margin: 2vw 2vw;
    line-height: 4vh;
  }

  .resume_pdf{
    width:520px; 
    height:650px;
  }

  .contacts{
    font-size: 1.25vw;
    height: 100%;
  }


.contacts img{
  width: 3vw;
  height: 3vw;
  margin-right: 1%;
}


}
