:root {

  /* Font */
  /* font-family:'Courier New', Courier, monospace ; */
  /* font-weight: 500px; */
  text-align: center;
  display: inline-block;
  font-family:'Courier New', Courier, monospace;

  --background: #FFF1E8;
  --background_text: #FFFBF9;
  --nav_bar_text_color: #920909;
  --nav_bar_dot_color: #DE8C6E;
  --nav_bar_text_active: #F0B2B2;
  --text_highlight: rgb(208, 131, 131);
  color: #251910;
  font-weight: 500;
  /* #d0daa3 */
 
}

body{
  max-width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-items: center;
  /* background: linear-gradient(var(--pale-blue-trans), var(--light-purple-trans)); */
}

::selection {
  background: var(--text_highlight);
  color: rgb(245, 237, 237);
}

.name_card{
  background-color: var(--background_text);
  width: 50%;
  max-width: 650px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  color: var(--nav_bar_text_color)
}

.name_card_name{
  font-size: 32px;
}

.name_card_text{
  display: flex;
  position: absolute;
  bottom: 0;
  left: 10px;
}

.name_card_para{
  margin-right: 30px;
}

.name_card_para:hover{
  cursor: pointer;
  color: var(--nav_bar_text_active)
}



@media (width <= 700px){

  

}
