:root {
  /* Base colours */
  --dark-blue: rgb(0, 28, 48);
  --medium-blue: rgb(23, 107, 135);
  --light-blue: hsl(176, 50%, 60%);
  --highlight-blue: rgb(218, 255, 251);

  
  --light-purple: hsl(254, 45%, 78%);
  --pale-blue: hsl(226, 34%, 75%);
  
  --light-purple-trans: hsla(254, 45%, 78%, 50%);
  --pale-blue-trans: hsla(226, 34%, 75%, 50%);
  --light-blue-trans: hsla(176, 50%, 60%, 30%);

  /* Font */
  font-family:'Courier New', Courier, monospace;
  text-align: center;
  display: block;
  /* background: linear-gradient(var(--pale-blue-trans), var(--light-purple-trans)); */
  --primary: #EADBC8;
  --secondary: #DAC0A3;
  --tertiary: #584733;
  color: #251910;
  font-weight: 500;
  /*
  background: linear-gradient(var(--light-purple), var(--pale-blue-trans));
 */
}

body {
  width: 100%;
  margin: auto;
  padding: 0;
  font-size: 4vw;
  background-color: var(--primary);
}

.container{
  width: 90%;
  max-width: 2200px;
  margin: auto;
}

.header{
  display: flex;
  margin: auto;
  
  /* margin-left: -30vw; */
}

.home_icon{
  /* margin-right: 2%; */
  width: 5vw;
  height: 5vw;
}

.header a{
  width: 100%;
  font-size: 5vw;
}

.header a:link{
  text-decoration: black;
  text-decoration: none;
  }

.header a:visited{
  text-decoration: none;
  color:black;
}

.header a:hover{
  text-decoration: none;
  color:black;
}

.header a:focus{
  text-decoration: none;
  color:black;
}

.header a:active{
  text-decoration: none;
  color:rgb(0, 0, 0);
}

.header p{
  display: inline-block;
}


h1 {
  font-size: 10vw;
}

.basic_project_info{
  /* background-color: rgba(255, 255, 255, 0.65); */
  background-color: rgba(255, 255, 255, 0.65);
  text-align: start;
  padding: 1vw 2vw;
  margin: 4vw 2vw;
  line-height: 4vh;
  border-radius: 1em;;
}

.basic_project_info h2{
  text-align: center;
}

.specific_project_content a{
  text-decoration: none;
  color: blue'
}


a:link{
  color:blue;
}
a:visited{
  color:blue;
}
a:hover{
  color:blue;
}
a:focus{
  color:blue;
}
a:active{
  color:blue;
}
img{
  height: 90vw;
  width: 75vw;
}

.button{
  width: 40vw;
  height: 7vw;
  border: none;
  border-radius: 1em;
  /* background: linear-gradient(var(--light-purple), var(--pale-blue)); */
  background-color: #b8513f;
  color: white;
  font-size: clamp(13px, 2vw, 24px);
}

.specific_project_info{
  background-color: rgba(255, 255, 255, 0.65);
  text-align: start;
  padding: 1vw 2vw;
  margin: 2vw;
  line-height: 4vh;
  border-radius: 1em;;
}


.specific_project_info p{
  font-weight: bold;
}

@media (width >= 700px) {
  body{
    font-size: 1.5vw;
  }

  .container{
    position: relative;
    width: 100%;
    margin: auto;
  }

  .header{
    width: 20%;
    text-align: start;
    margin-left: 0;
    padding-left: 1vw;
    
  }
 
  .home_icon{
    margin-right: 0.5%;
    margin-top: 1%;
    width: 2vw;
    height: 2vw;
    max-width: 20px;
    max-height: 20px;
    vertical-align: text-bottom;
  }

  .header a{
    vertical-align: center;
    font-size: clamp(5px, 1vw, 12px);
  }

  h1 {
    font-size: clamp(12px, 3vw, 32px);
  }
  

  .gridContainer{
    width: 90%;
    max-width: 1500px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: start center;
    font-size: clamp(12px, 3vw, 16px);
    
  }

  .content{
    margin: auto;
    max-width: 1500px;
    width: 90%;
  }

  .basic_project_info{
    margin: 0;
  }
  
  .gridContainer .column:nth-of-type(2) {
    max-height: 1200px;
  }
 
  .gridContainer .column:nth-of-type(1) {
    place-items: center;
    display: flex;
    order: 2;
    height: 100%;
    max-height: 1200px;
  }

  #main_photo{
    width: 35vw;
    height: 50vw;
    max-width: 450px;
    max-height: 520px;
  }

  .button{
    width: 15vw;
    height: 3vw;
    max-width: 220px;
    max-height: 30px;
    font-size: clamp(12px, 3vw, 16px);
    cursor: pointer;
  }

  .button:hover{
    background-color: #c4857a;
  }

  .specific_project_info{
    margin: auto;
    margin-top: 4vh;
    font-size: clamp(12px, 3vw, 16px);
  }

  a:link{
    color:blue;
  }
  a:visited{
    color:blue;
  }
  a:hover{
    color:blue;
  }
  a:focus{
    color:blue;
  }
  a:active{
    color:blue;
  }

}