.project_section_title{
    display: flex;
    font-size: 1.5rem;
}



.project_title{
    display: flex;
    margin-left: 0;
    font-size: 1.5rem;
    line-height: 10px;
    color: var(--nav_bar_text_color);
}

.project{
    display: block;
    margin: 10px auto;
    padding: 5px 0;
    padding-left: 10px;
    text-align:left;
    filter: none;
}

.project:hover{
    background-color: var(--background_hover);
    cursor: pointer;
}

.project_info{
    /* margin-top: -20px; */
    /* display: block; */
    color: var(--nav_bar_text_color);
}

.project_description{
    display: flex;
    text-align: left;
}

.project_tools{
    display: flex;
    font-size: 10px;
    line-height: 5px;
}

.project.private:hover{
    cursor: default;
    background-color: transparent;
}


a:hover{
    color: var(--nav_bar_text_color);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(137, 90, 90); /* Fallback color */
    background-color: rgba(137, 90, 90,0.4); /* Black w/ opacity */
    
  }

.modal_content{
    display: none;
    background-color: var(--background_text);
    position: absolute;
    grid-template-columns: 1fr 1fr;
    right: 0%;
    top: 0%;
    bottom: 0%;
    /* transform:translateY(0,-50%); */
    margin: auto;
    padding: 20px;
    /* border: 10px solid #b30000; */
    min-width: 400px;
    width: 70%;
    max-width: 800px; /* Could be more or less, depending on screen size */
    max-height: 700px;
    filter: none;
    animation-name: slide, fade;
    animation-duration: 1s, 1.25s;
    box-shadow: 0px 5px 10px var(--shadow);
    overflow: auto;
}

.column:nth-child(1) p{
    text-align: left;
    margin-top: 50px;
}

.column:nth-child(1){
    /* background-color: red; */
}

iframe{
    margin: auto;
    margin-right: 0;
    width: 320px;
    height: 550px;;
}

.link{
    display: flex;  
}

@keyframes slide {
    0%   {right: -50%}
    100% {right: 0%;}
  }
  
@keyframes fade {
    0% {opacity: 0;}
    /* 50%{opacity: 75%}; */
    100%{opacity: 100%;}
}

.close {
    color: #aaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }