body {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 27px;
}


.header {
  display: flex;
  width: 100%;
}
 
.home_icon{
  margin-right: 0.5%;
  width: 20px;
  height: 30px;
  vertical-align: text-bottom;
}

.header a{
  width: 100%;
}

.header a:link{
  text-decoration: black;
  }

.header a:visited{
  text-decoration: none;
  color:black;
}

.header a:hover{
  text-decoration: none;
  color:black;
}

.header a:focus{
  text-decoration: none;
  color:black;
}

.header a:active{
  text-decoration: none;
  color:rgb(0, 0, 0);
}


.basic_project_info{
  width: 75%;
  border-style: solid;
  border-width: 20px;
  border-radius: 5%;
  border-color: lightgray;
  background-color:rgb(238, 237, 237);
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 0%;
  padding-bottom: 3%;
  padding-left: 2%;
  padding-right: 2%;
}

.basic_project_info a:link, a:visited{
    color: blue;
}

.specific_project_info{
  width: 50%;
  background-color:rgb(238, 237, 237);
  margin-bottom: auto;
  padding-top: 1%;
  padding-bottom: 7%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 10%;
  border-bottom-right-radius: 30%;
  border-style: solid;
  border-color: lightgray;
  border-width: 30px;
}

.specific_project_info h2 {
  position: relative;
  margin-bottom: 5%;
  
}

.specific_project_info ul{
  overflow-wrap: break-word;
  position: relative;
}

.specific_project_info p {
  position: relative;
  padding-top: 1%;
  font-weight:bold;
  margin-left: 3%;
}

.specific_project_info p, li{
  position: relative;
  white-space: normal;
  word-wrap: break-word;
}

.content {
  display: inline-flex;
  width: 95%;
}

.specific_project_content{
  width: 30%;
}

#main_photo{
  height: 50%;
  width: 120%;
  margin-left: 10%;
  margin-top: 35%;
  
}

.project_photos {
  width: 500px;
}

.project_photos img {
  width: 500px;
  height: 350px;
}


button {
  margin-left: 60%;
  margin-top: 10%;
  width: 100px;
  height: 100px;
  font-size: 25px;
  border-radius: 20%;
  border-style: solid;
  border-color: rgb(181, 152, 228);
  background-color: rgb(181, 152, 228);
}

button:hover{
  border-color: rgb(204, 186, 233);
  background-color: rgb(204, 186, 233);
  border-style: solid;
}