@keyframes fadeIn {
  to {
      opacity: 1;
  }
}


body{
  display: block;
}
.content{
  opacity: 0;
  animation: fadeIn 2s forwards;
  padding-bottom: 100px;
}

.nav_bar{
    display: flex;
    background-color: var(--background_text);
    width: 100%;
    text-align: right;
    position: fixed;
    z-index: 1;
  }
  
  .nav_bar_name{
    margin-left: 20px;
    /* color: var(--nav_bar_text_color); */
    cursor: pointer;
  }
  
  .nav_bar_name:hover{
    /* color: var(--nav_bar_text_active); */
    cursor: pointer;
  }
  
  .nav_bar_pages{
    display: flex;
    position: absolute;
    right: 0;
  }
  
  .content{
    /* background-color: blue; */
    width: 80%;
    position: absolute;
    margin: auto;
    margin-top: 70px;
    left: 0;
    right: 0;
  }
  
  .section_header{
    display: flex;
    font-size: 42px;
    color: var(--text_header);
  }

  .name_card_para_active a{
    color: var(--nav_bar_text_active);
    /* background-color: red; */
  }

  .icon{
    display: none;
  }

  .topNav{
    display: flex;
  }



  @media (width <= 700px){
  

    .nav_bar_pages{
      width: 150px;
      text-align: left;
      padding-left: 20px;
      display: none;
      background-color: var(--background_text);
      margin-top: 50px;
      box-shadow: 0px 5px 10px var(--shadow);
      /* background-color: blue; */
      z-index: 1;
    }

    .nav_bar_name:hover{
      background-color: red;
      cursor: pointer;
    }

    .icon{
      display: flex;
      width: 16px;
    }
  
    .topNav a.icon {
      background: transparent;
      display: block;
      position: absolute;
      right: 30px;
      top: 0;
      font-size: 40px;
      z-index: 0;
    }

   

  


  }

 
  